<div class="row">

  <div class="col-sm-6">

    <div class="panel panel-primary text-center">
      <div class="panel-heading"><h4>Burger Choices</h4></div>
        <div class="panel-body">

          <div class="row1">

            <div class="col-md-8" style='text-align: left;'>

              {{#each burgerList}}
                {{#unless this.devoured}}
                  <p>{{this.id}}. {{this.burgerName}}</p>
                   
                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="devoured" value="true">
                      <button type="submit" class='btn btn-success'>Devour It</button>
                    </form>

                  <br>
              {{/each}}

            </div>

            <div class="col-md-4">
              
              {{#each burgerList}}
             
              {{/each}}

            </div>

          </div>

          
        </div>
    </div>
  </div>

 

  <div class="col-sm-6">

    <div class="panel panel-primary text-center">
      <div class="panel-heading"><h4>Burgers Devoured!</h4></div>
        <div class="panel-body">
          
          {{#each burgerList}}
            {{#if this.devoured}}
                <p>{{this.id}}. {{this.burgerName}}</p>
            {{/if}}
          {{/each}}
          
        </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary text-center">
      <div class="panel-heading"><h4>Create a New Burger</h4></div>
        <div class="panel-body">

          <form class="create-update-form" action="burgers/create" method="POST">
            <div class="form-group">
              
              <label for="burgerName">Burger Name:</label>
              <input type="text" id="burgerName" name="burgerName">
              <button type="submit"  class="btn btn-lg btn-success">Create Burger!</button>
            </div>
          </form>

        </div>
    </div>
  </div>
</div>



